@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Raleway:wght@400;600;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,600;1,700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600;700;800&family=Poppins:ital,wght@0,600;0,700;0,800;1,600;1,700&family=Staatliches&display=swap');
:root {
  --color-primary:#001838;
  --color-secondary: #6caddf;

}

html,
body {
  /* https://stackoverflow.com/questions/46012482/unwanted-white-space-on-right-side-in-mobile-view */
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background:url("/animated_bg.gif") transparent; */
  font-family: 'Galano-Grotesque-Alt';
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #132845;
  /* color: rgba(255, 255, 255, 0.8); */
  color:#132845;
}

code {
  font-family: "Space Mono", Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  background-color: #8d8c8c;
  padding: 0 0.5rem;
  color: #f6fbff;
  border-radius: 5%;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #b8ebff;
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:Galano-Grotesque-Alt-Medium;
  line-height: 1.2;
}

.container {
  max-width: 1100px;
  /* margin: 0 auto; */
  /* padding: 0 30px; */
}

.container-body {
  align-content: center;
  background-color: #84b0d1;
  /* padding: 1px 40px; */
  border-radius: 5px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay:1s;
}

.container-header {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 0 30px;
}

.container-group {
  margin-top: 20px;
  display: flex;
  gap:40px;
}

.container-index {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.container-grid {
  display:grid;
  grid-template-columns:repeat(3,33.3333%);
  grid-template-rows:repeat(1,1fr);

}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #132845;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #84b0d1;
  text-decoration: none;
}

.logos-small {
  display: none;
}

.special {
  background-color: #b8ebff;
  border: 2px solid #b8ebff;
  border-radius: 4%;
}

/* Page Content */
.page-content {
  /* text-align: justify; */
  margin: 20px -10px;
  /* padding: 0px 20vw; */
}

.page-content h2,
.page-content h3 {
  margin: 10px 0px;
}

.page-content h2 {
  font-size: 40px;
}

.page-content h3 {
  font-size: 25px;
}

center > h1 {
  /* Making a title */
  margin: 1rem 0rem 0rem 0rem;
  font-size: 4rem;
}

.points {
  /* For a list */
  padding: 1rem 2rem;
}

ul {
  margin: 0rem 0rem 0rem 2rem;
}
ol {
  margin: 0rem 0rem 0rem 2rem;
}
@font-face {
  font-family: 'Galano-Grotesque-Alt';
  src: url('Galano-Grotesque-Alt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Galano-Grotesque-Alt-Bold';
  src: url('Galano-Grotesque-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Galano-Grotesque-Alt-Medium';
  src: url('Galano-Grotesque-Alt-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 1130px) {
  h1,
  h2 {
    text-align: center;
  }
  center > h1 {
    word-break: break-word;
    scale: 0.5;
    display: inline-block;
  }
}
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }
} */
@media (max-width: 1130px) {
  .container-group {
    /* display: grid;
    grid-template-rows: repeat(2);
    grid-template-columns: none; */
    flex-direction: column;
  }

  center > h1 {
    scale:0.5;
  }

  .container-body {
    display: grid;
    grid-template-rows: repeat(2);
    grid-template-columns: none;
  }
}
