@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Raleway:wght@400;600;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --color-primary: #0f172a;
  --color-secondary: #22c8ff;
}

html,
body {
  /* https://stackoverflow.com/questions/46012482/unwanted-white-space-on-right-side-in-mobile-view */
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  background: #f8fafc;
  color: #333;
}

code {
  font-family: "Space Mono", Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  background-color: #8d8c8c;
  padding: 0 0.5rem;
  color: #f6fbff;
  border-radius: 5%;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #b8ebff;
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.2;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
.container-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.logos-small {
  display: none;
}

.special {
  background-color: #b8ebff;
  border: 2px solid #b8ebff;
  border-radius: 4%;
}

/* Page Content */
.page-content {
  /* text-align: justify; */
  margin: 20px -10px;
  /* padding: 0px 20vw; */
}

.page-content h2,
.page-content h3 {
  margin: 10px 0px;
}

.page-content h2 {
  font-size: 40px;
}

.page-content h3 {
  font-size: 25px;
}

center > h1 {
  /* Making a title */
  margin: 2rem 0rem 1rem 0rem;
  font-size: 4rem;
}

.points {
  /* For a list */
  padding: 1rem 2rem;
}

ul {
  margin: 0rem 0rem 0rem 2rem;
}
ol {
  margin: 0rem 0rem 0rem 2rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  h1,
  h2 {
    text-align: center;
  }
  center > h1 {
    word-break: break-word;
    scale: 0.8;
  }
}
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
