#award {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

#about_award {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

#about_new {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

#intro {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

#new {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}

#competition {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}

#blogs {
  background: #84b0d1;
  flex: 1 1 0;
}

#boss_title {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  display: inline-block;
}

#award {
  /* flex: 2.8 1 0; */
  overflow: scroll;
  overflow-y: hidden;
  /* overflow-x: hidden; */
}

#about_award {
  overflow: hidden;
  color: #001838;
  font-size: 1.425vw;
  flex: 1 2.8 0;
}

#about{
  width:95%;
  max-width:1300px;
  margin-top:70px;
  padding:2rem;
  margin-bottom: 50px;
  color:#fff;
  font-size:1.40vw;
  border: 3px solid #6caddf;
  border-width: 5px 0px;
  /* border-top-width:12vw; */
  /* box-shadow:0px 5px #84b0d1,
  0px 5px #84b0d1 inset; */
}

#about > center > h2 {
  color: #6caddf;
  font-size: 3vw;
}

#new {
  /* margin: auto 0px; */
  width: 60%;
  margin-left: 19vw;
  display:inline-block;
  /* flex: 3 2.4 0; */
}

#intro {
  flex: 5 4 0;
}

.intro-text {
  display: inline-block;
}

#competition {
  flex: 1 1 0;
  background: #84b0d1;
  padding:1rem;
}

#second-group {
  background: url('/background.jpg');

}

#second-group > center > h1 {
  color:#001838;
}

#third-group {
  flex-direction: row;
  /* color:#6caddf; */
  padding: 0rem 1.5rem;
}

.typed > center > h1 {
  display: inline-block;
  font-family: Handjet;
  font-weight: 700;
  font-size: 6vw;
  color:#001838;
  margin-top:110px;

}

.typed-cursor {
  color: orange;
  height: 50px;
  background: orange;
  width: 5px;
  border: 4px solid orange;
  border-top-width: 66px;

}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* The typing effect
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
} */

.award {
  /* background:rgba(245, 245, 245, 0.5); */
  width:30%;
  margin: 20px 20px 50px 20px;
  font-size:1.20vw;
  padding:1rem 2rem;
  box-shadow:0px 20px 40px #001838;
}

.award-img {
  max-width: 600px;
 max-height: 250px;
}

/* .header {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay:1s;
} */

.points {
  align-content: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.points > .point {
  align-content: center;
  margin: 0rem auto 1rem auto;
}

.post {
  width: 90%;
  margin-left: 15px;
}

.doing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.thing {
  margin: 1rem;
}

.container-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content > .bottom {
  text-align: center;
}

.sponsor-comp {
  display: inline;
  background: #6caddf;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex: auto;
  margin-left: 4vw;
  margin-right: 4vw;
  align-items: center;
}

.sponsor-row {
  background-color: #6caddf;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .sponsor-comp {
  flex: auto;
  margin-left: 5vw;
  margin-right: 5vw;
  align-items: center;
} */

.thing {
  font-size: 1rem;
}

.thing img {
  margin: 1rem;
  width: 13rem;
}
.new-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.new-posts > .post {
  padding: 1rem 1rem;
}

@media (max-width: 1130px) {
  .new-posts {
    grid-template-rows: repeat(2);
    grid-template-columns: none;
  }

  #award {
    max-width: 1130px;
    margin: 0px 7px 21px -8px;
    padding: 0px;
    width: 105%;
  }

  .award {
    width:89%;
    /* margin: 0px 10px 0px 10px; */
    font-size: 2.2vw;
  }

  #about_award {
    width: 94%;
    padding: 0px 10px;
    margin: 0px 0px 0px 9px;
    font-size: 3vw;
  }

  #about_new {
    color: #001838;
    font-size: 3vw;
    /* display: inline-block; */
    margin-right: 12px;
    width: 94%;
    /* margin-top: 10px; */
    margin-bottom: 30px;
    order: 1;
  }

  #intro {
    /* display: inline-block; */
    margin: 0px 23px 25px -9px;
    width: 105%;
  }

  #new {
    margin-top: -18px;
    margin-right: 20px;
    margin-left: -7px;
    display: inline-block;
    width: 104%;
}
  
#competition {
  margin-top: -7px;
  margin-right: 0px;
  margin-left: -10px;
  display: inline-block;
  width: 105%;
}

.award-img{
  max-height: 386px;
  max-width: 100%;
}

#award {
  flex: 2.8 1 0;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

#first-group > center > h1, #second-group > center > h1 {
  font-size:8vw;
}

#blogs > center > h1, #competition > center > h1 {
  font-size:7vw;
}

#about {
  font-size:2vw;
}

}

@media(max-width:800px) {
  #third-group {
    flex-direction: column;
  }

@media (max-width:600px) {
  #first-group > center > h1, #second-group > center > h1 {
    font-size:17vw;
  }

  #blogs > center > h1, #competition > center > h1, #about > center > h1 {
    font-size:16vw;
  }

#about {
  width:90%;
  font-size: 3.3vw;
}

#about > center > h2 {
  font-size: 6vw;
}

}


  #competition {
    margin-top: -7px;
    margin-right: 0px;
    margin-left: -10px;
    display: inline-block;
    width: 105%;
  }
}

/* @media (max-width: 900px) {
  .doing {
    flex-direction: column;
  }
} */


/**
/* overflow: hidden; /* Ensures the content is not revealed until the animation 
border-right: .15em solid orange; /* The typwriter cursor 
white-space: nowrap; /* Keeps the content on a single line 
margin: 0 auto; /* Gives that scrolling effect as the typing happens 
letter-spacing: .1em; /* Adjust as needed 
animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite; */
