---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About ARIITK" showPicture={true} background={"/jetson_jbl.jpg"}>
  <div class="container">
    <center><h1>Who we are?</h1></center>
    <Card>
      ARIITK is an undergraduate team working to provide autonomous UAV based open-source solutions for real-life problems.. We design and build our own UAV systems,
      typically of similar size to radio controlled model airplanes. Every year
      a system is designed, built, tested and then competed internationally. We
      offer the opportunity for students to put theory into practice and gain
      valuable design and management experience. Some opportunities in the Team
      include:
      <div class="points">
        <ll>
          <li>Making new friends</li>
          <li>Designing airframe structures</li>
          <li>Programing autopilot behavior</li>
          <li>Coding on an embedded system platform</li>
          <li>Creating electrical systems to power the plane</li>
          <li>Traveling internationally</li>
        </ll>
      </div>
    </Card>
  </div>
</Layout>
