---
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
---

<Layout title="Gallery" showPicture={true} background={"/jetson_jbl.jpg"}>

  <div class="container-gallery">
  
    <!-- <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div>
    <div class="image-container">
      <img src="drone.jpeg" class="grayscale">
      <div class="image-caption">Drone Image 1</div>
    </div> -->
    <div class="image-container reveal">
      <img src="https://lh3.googleusercontent.com/pw/AIL4fc9ohtNsgy_7TZB2Dxn86PH_PNSHrWLZBkGNGpjpYXQTMcyAdgQXb9lEvXABNXmy2TjtVWVj2tBv3o5ThiapoR_Z82RePKBdtnMkmd-U1xqdHGRUbjeMxiNT_eIJ84ca4XiWXUZBqGM3iZKuurYSURl5eJhlqVL_NUqFxmMUcifLTikwJoF2J3o1SaPqAoGjM0C-rtxrkBEWbVd5bXvKWUgU7BuIJ2zg1_wU7zf3TeSCwZ0nPyMJhKeEsWDAXX5uF3GOeOkxxvxz753wStwKXbgE6ml8q3TEnKX4NLPctYBue_qefpLvH6NZFCFK7iTLwbugE9Q97g_z2N7ryRurweFzPbSTX5larSFRCZ2JHqwT-cCCoQ9mqnJEAvWYf0fPfl5W9fKWAfc8TwFqg-Oo9WccyUJSCWYSiV92hffcm4o6yM8zrP5vF9RzsvLe1fu8Po2ER3IST_hKh1eIhvMaakj2lrn-BLo8dXq8XuCnVek0HvrVH9aO5-lP-nlzjpyY_AWBntW_EY5unfEtl_Y2psfAUhR1wmJHxuA2Z1CNXdfPHkU-fAze-aq3WNBgjuKHyUxfDlZql_hHRFjEYss_ATnRIB-ajwP2IkQahYkpz9RztvIc8jHb3iFiBW0_NadjNx0fen5Elu-9_yMnwb_MHx-rDBzeWEJw-v6d8G_KSbFGU1K5fJUzCBTqkMZ0AQVnJ3ILwIQ9BceoEWQCJPphJykROBEcQW2ofVLryvh7mHcLQm1n9Q_zWXOknfeZNypYpw25VvVc4IvYy-dGjIl33ROkUyGF4Y5VdNqDELdgHRl-dpj36GsGk-u_063MSbOzT92nTVEaOqydg-yaD31J3pLENyzLHcURJGvKYyP7LG_1FRdc8QwCa8JfZK6OAtYfnTRSho6CQUqOYY0ePKfuRQ=w1190-h893-s-no?authuser=0" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="https://photos.google.com/partner/AF1QipO7qbBTvzwrD_6k4DtzlRtnADWG/photo/AF1QipOTfax8lBKd73QGPwkAldPDyan6DECqLWkLi0-u" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
    <div class="image-container reveal">
      <img src="drone.jpeg" class="grayscale">
    </div>
  </div>



  <!-- <div class="container">
    <center><h1>Who we are?</h1></center>
    <Card>
      ARIITK is an undergraduate team working to provide autonomous UAV based
      open-source solutions for real-life problems. We design and build our own
      UAV systems, typically of similar size to radio controlled model
      airplanes. Every year a system is designed, built, tested and then
      competed internationally. We offer the opportunity for students to put
      theory into practice and gain valuable design and management experience.
      Some opportunities in the Team include:
      <div class="points">
        <ll>
          <li>Making new friends</li>
          <li>Designing airframe structures</li>
          <li>Programing autopilot behavior</li>
          <li>Coding on an embedded system platform</li>
          <li>Creating electrical systems to power the Drone</li>
          <li>Traveling internationally</li>
        </ll>
      </div>
    </Card>
  </div> -->
  <script>
    function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);

</script>
</Layout>

<style>
  * {
    box-sizing: border-box;
  }

  /* body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    /* background-color: #f0f0f0; */
  /* }  */

  /* .header {
    text-align: center;
    padding: 32px;
  } */

  .container-gallery {
    margin:30px;
    background:#b8ebff;
    padding:0.5vw;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(6,1fr);
  }

  .column {
    flex: 25%;
    max-width: 25%;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .column img:hover {
    transform: scale(1.1);
    z-index:2;
  }

  .container {
    margin: 40px auto;
    max-width: 800px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #333333;
  }

  .points {
    margin-top: 16px;
    line-height: 1.6;
  }

  .points li {
    color: #555555;
  }

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }

    .container-gallery {
      grid-template-columns: 2fr;
      grid-template-rows: 8fr;
    }

  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .container-gallery {
      grid-template-columns: 1fr;
      grid-template-rows: 16fr;
    }

  }

  img {
    width:100%;
  }

  .grayscale {
    box-shadow: 0px 10px 20px black;
  border: 7px solid white;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.4s;
  }
   img:hover {
  filter: grayscale(0%);
  transform: scale(1.2) rotate(3deg);
  }
  img:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  }

  .image-container {
  padding:1.25rem;
  position: relative;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-caption {
  opacity: 1;
  }

  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .image-container:hover .image-caption {
    opacity: 1;
  }
</style>
