---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Gajendra from "../images/gajendra_gazing.jpg"

---

<Layout title="Contact Us" showPicture={true} background={"/gajendra_gazing.jpg"}>
    <div class="container">
        <Card>
            <h3>
                Looking to Join?
            </h3>
            <p>
                Any University of Alberta student is welcome to join regardless of faculty or discipline. If you have an interest in robotics, planes, RC toys, imaging, electronics, computers, programming or just enjoying building things then you would fit right in!
            </p>
            <h3>
                Reach out to us at <a href="mailto:aerialroboticsiitk@gmail.com">aerialroboticsiitk@gmail.com</a>
            </h3>
        </Card>
        <Card>
            <h3>
                Looking to sponsor us?
            </h3>
            <p>
                ARIITK is always keen on working with potential sponsors since it helps bring our projects to fruition!
            </p>
            <h3>
                Please send any questions to <a href="mailto:aerialroboticsiitk@gmail.com">aerialroboticsiitk@gmail.com</a>
            </h3>
        </Card>
    </div>
    <!-- <div class="container bye-img">
        <div class="content">
            Get <span class="color">Involved</span>
        </div>
        <img src={Gajendra} alt="">
    </div> -->
</Layout>

<style>
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 1rem;
    }
    .container a {
        text-decoration: underline;
    }
    /* .bye-img {
        position: relative;
        justify-items: center;
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .bye-img > .content {
        position: absolute;
        font-size: 60px;
        font-weight: 600;
    } */
    img {
        margin-top: -13rem;
        margin-left: -4rem;
        width: 110%;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,1) 70%);
    }
    .color {
        color: rgb(52, 204, 255);
    }
</style>