---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
let posts = await Astro.glob('../posts/*.md');

function sortByKey(array:any, key:string) {
    return array.sort(function(a:any, b:any) {
        var x = a[key]; var y = b[key];
        return ((x > y) ? -1 : ((x < y) ? 1 : 0));
    });
}
posts = sortByKey(posts, 'frontmatter.date');
---

<Layout title="Aerial Robotics IITK" showPicture={false} background={"/UAVs_Merge.mp4"} text={"We build drones so you don't have to"}>

    <div class="container-idx">
        <!-- <Loader width={"30rem"} type={"light"} /> -->
    </div>

    <div class="container">
        <h1>What's New?</h1>
    </div>

</Layout>

<script define:vars={{ posts }}>
console.log("Posts are", posts);
</script>

<style>

    .container-idx {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 30px;    
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .container-idx > .content {
        /* margin-top: 10rem; */
        z-index: -1;
        font-size: 7rem;
    }
    

</style>
