---
import "../styles/recruitment.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Y22 Recruitment"
  showPicture={true}
  background={"recruitment/banner.png"}
>
  <div class="container">
    <Card>
      <div>
        We @Team Aerial Robotics are <span class="special">recruiting!</span>
      </div>
      <div>
        The recruitment procedure is straightforward. You must take a test that
        will be administered by us.
      </div>
      <div>
        You are not required to understand all of the material's specifics.
        However, we would like you to read it and try to gain a general
        understanding and concept. We do not expect you to have any prior
        knowledge, and the above material will suffice to pass the exam. If you
        pass the examination, we will have a chat with you to learn more. And
        that's it!
      </div>
      <div>
        Check out the recruitment presentation and the intro video to learn more
        about what we do and what we have achieved over the years.
      </div>
    </Card>
    <Card>
      <div class="title-desc">
        <div>The team recruitment drive is now over.</div>
        Thank you for your interest!
        <a
          href="https://drive.google.com/file/d/1ElST8rcqcNHNr1OXbbC3vZ0UIawIsye9/view?usp=sharing"
        >
          <div class="box-link ques">Question Paper</div>
        </a>
      </div>
    </Card>

    <Card>
      <div class="title-desc">
        <div>Here is the list of our new recruits. Welcome to the team!</div>
      </div>
      <iframe
      style="width: 100%; height: 67vh;"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT1_DRsM9gPJHE_tL78qf-pEyviI5Zx0pKecyRScJFD08zCcBfnmUTDL_PTgXLkgiA2z9S0a032YFLI/pubhtml?gid=1866612725&single=true&widget=true&headers=false"
      ></iframe>
    </Card>

    <Card>
      <div class="title-desc">Reference Material List</div>
      <div class="window">
        <iframe
          id="material-frame"
          loading="lazy"
          src="https://drive.google.com/file/d/1PDuuF63lxgr_c5gzbb6qjJTVrtlGNuG-/preview"
          style="position: relative; width: 100%; height: 60vh; top: 0; left: 0; border: none; padding: 0;margin: 0;"
          allow="autoplay"></iframe>
      </div>
    </Card>

    <Card>
      <div class="title-desc">Introductory Presentation</div>
      <div
        style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 8px; will-change: transform;"
      >
        <iframe
          loading="lazy"
          style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
          src="https://www.canva.com/design/DAFdDLYKQD4/view?embed"
          allowfullscreen="allowfullscreen"
          allow="fullscreen"
        >
        </iframe>
      </div>
    </Card>
  </div>
</Layout>
