---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Y22 Recruitment" showPicture={true} background={"../../public/Screenshot 2023-03-28 at 5.07.22 PM.png"}>
  <!-- <center><h1>Tests</h1></center> -->
  <div>
    <h4 class="fonter">The below link is for the form for submitting the recruitment test responses.</h4>
    <a style="font-size: 3vw; color:crimson; text-align: center" class="fonter" href="#">Form</a>
  </div>
  <div class="fonter">
    <p>We at Team Aerial Robotics are recruiting!!! 
      The recruitment procedure is straightforward. You must take a test that will be administered by us. Here is the test preparation material we have prepared for you:
      <a href="https://drive.google.com/file/d/1PDuuF63lxgr_c5gzbb6qjJTVrtlGNuG-/view"></a>
      You are not required to completely understand all of the material's specifics. However, we would like you to read it and try to gain a general understanding and concept. 
      We do not expect you to have any prior knowledge, and the above material will suffice to pass the exam. If you pass the examination, we will simply chat with you to learn more about you. And that's it!
      Check out the recruitment presentation and the Intro video to learn more about what we do and what we have achieved over the years. 
      <br/><br/>Presentation and video link: <a style="color:blue" href="https://www.canva.com/design/DAFdDLYKQD4/s4SGxXqxOUdsu1PZanBjRw/view?utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Here</a> 
    <br/><br/>
      <a style="font-size: 3vw;" href="https://www.instagram.com/reel/CqD_RSrDkVS/?igshid=YmMyMTA2M2Y=">Check this out</a></p>
  </div>
</Layout>
<style>
  .fonter{
    text-align: center;
    font-size: larger;
    padding-left: 10vw;
    padding-right: 10vw;
  }
</style>