.blog-card {
  /* width:30%;
  display:inline-block; */
  
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay:1s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.card {
  color: rgb(19, 31, 69);
  background:white;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  margin-top: 20px;
  /* box-shadow:0px 20px 40px rgb(19, 31, 69); */

}

.card-team {
  background: #fff;
  padding: 2px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  margin-top: 20px;

}

.dark {
  background: var(--color-primary);
  color: #fff;
}
