
.contact_card {
  justify-content: space-around;
  background-color:#84b0d1;
    /* width:120%; */
    color:white;
    flex-basis:32rem;
    padding:2rem;
  }

.contact_card > center > h3 {
  color:#001838;
  font-weight:bolder;
  font-size: 2.1vw;
}

.contact_card > center > h6 {
  color:white;
  font-size:1.2vw;
  font-weight: bolder;
}

.picture {
  background-color: white;
}

.picture > center > h2 {
  color:#001838;
}

#contact-index {
  padding:1rem;
  margin:0px auto;
  display:flex;
  flex-direction: column;
}

#qr {
  background:url('public/background.jpg');
  padding: 1rem;
}
  
#get_sponsor {
  /* overflow:auto; */
  margin-top: 10px;
  gap:10px;
  padding:0rem 1.5rem;
animation: fadeInAnimation ease 1s;
animation-iteration-count: 1;
animation-fill-mode: backwards;
animation-delay:2s;
    }

#reach {
  margin-top: 10px;
  gap:10px;
  padding:0rem 1.5rem;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay:3s;
  }

/* #touch {
animation: fadeInAnimation ease 1s;
animation-iteration-count: 1;
animation-fill-mode: backwards;
animation-delay:3s;
    } */

#qr {
  width:30%;
}

@media (max-width:1130px) {
  .container-group {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }

  #contact-index {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;     
  }

.contact_card{
  justify-content: space-around;
  background-color: #84b0d1;
  width: 137%;
  color: white;
  flex-basis: 32rem;
  padding: 2rem;
}

.picture {
  background-color: white;
}

}

@media (max-width:600px) {
  #contact-grid{
    display:flex;
  }

  .contact_card{
    justify-content: space-around;
    background-color: #84b0d1;
    width: 137%;
    color: white;
    flex-basis: 32rem;
    padding: 2rem;
  }

  #contact-index {
    padding: 1rem;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.picture {
  background-color: white;
}

.contact_card > center > h3 {
  color:#001838;
  font-weight:bolder;
  font-size: 6vw;
}

.contact_card > center > h6 {
  color:white;
  font-size:4vw;
  font-weight: bolder;
}

.contact_card{
  width:100%;
}

.cards a {
  font-size:3.5vw;
}

#qr {
  width:90%;
}

}