.logo-outer {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.logo-outer > .name {
  color: white;
  font-size: 2.3rem;
  margin-left: -0.1rem;
  margin-top: 3.4rem;
  font-weight: 700;
}
.logo {
  margin-top: 1.5rem;
  width: 8rem; /* or whatever width you want. */
  height: 8rem;
  padding: 1rem;
  border-radius: 50%;
  /* background-color: #98c5e9; */
}

.logo-new {
  background-color: #001838;
}

.logo > img {
  height: 6rem;
}
/* Header */
.hidden-nav {
  display: none;
}

nav {
  overflow: hidden;
}

.color-change{
  opacity:0.8;
  background:#001838;
  padding-bottom: 500px;
  animation: fadeIn ease 1s;
}

.color-change-dropdown{
  opacity:0.8;
  background:#001838;
  padding-top:20px;
  /* padding-bottom: 500px; */
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.header {
  position: fixed;
  width: 100vw;
  height: 5.5rem;
  /* background: #98c5e9; */
  /* margin-top: 1.8rem; */
  padding-bottom: 0.6rem;
  margin-bottom: 2rem;
  z-index: 100;
  /* animation: fadeIn ease 0s; */
}

.header .container-header {
  position: sticky;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 27vw;
  font-weight: bold;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  font-size: 1.4rem;
  padding: 0 1rem;
}

.header nav ul li a {
  color: white;
  font-weight: bolder;
}
.header nav ul li a:hover {
  font-weight: 500;
  text-shadow:0px 5px 15px rgb(0, 0, 0);
  color:#6caddf;
  /* text-decoration-line: underline; */
}

/* Dropdown Button */
.dropbtn {
  background-color: #98c5e900;
  color: white;
  padding: 16px;
  font-weight: bold;
  font-size: 5vw;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  color:#6caddf;
}

.dropbtn-focus {
  /* color:white; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    margin: 59px 0px 0px -98px;
    background-color: #98cbff9d;
}

.name {
  letter-spacing: 0.3rem;
}

@media (max-width: 900px) {
  .name {
    display: none;
  }
}

@media (max-width: 1300px) {
  .header nav ul :nth-child(n + 1) {
    display: none;
  }
  .hidden-nav {
    display: flex;
    flex-direction: column;
  }

@media(max-width:600px) {

  .dropbtn {
    font-size: 4vw;
  }

  .header .container-header {
    
    position: sticky;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 10px;
    gap:20vw;
    font-weight: bold;
  }

  .dropbtn {
    background-color: #98c5e900;
    color: white;
    padding: 16px;
    font-weight: bold;
    font-size: 4vw;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    background:#001838;
    opacity:0.7;
  }

}

}
