---
import "../components/styles/Carousel1.css";
---
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <slot name="first" >
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <slot name="second">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <slot name="third">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <slot name="fourth">
      </div>
    </div>
  </div>