---
import "./styles/header.css";
import Loader from "../components/Loader.astro";
---

<header class="header">
  <div class="container-header">
    <a href="/">
      <div class="logo-outer">
        <div class="logo">
          <Loader height={"6rem"} type={"dark"} speed={"0ms"} />
        </div>
        <div class="name">ARIITK</div>
      </div>
    </a>
    <nav class="navbar">
      <div class="nav-wrapper">
        <ul>
          <li class="hidden-nav"><a href="/links">Links</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/showcase">Showcase</a></li>
          <li><a href="/blogs">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/recruitment">Recruitment</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
