---
import "./styles/member.css";
import { Image, Picture } from "@astrojs/image/components";
export interface Props {
  photo?: string;
  name: string;
  title: string;
}

const {
  photo = "https://picsum.photos/400?random=1",
  name,
  title,
} = Astro.props as Props;
---

<div class="card">
  <div class="picture">
    <!--Local image with multiple sizes and formats-->
    <Picture
      src={photo}
      widths={[30, 20, 300]}
      aspectRatio="1:1"
      sizes="(max-width: 35vh) 100vw, 35vh"
      formats={["avif", "jpeg", "png", "webp"]}
      alt="cool dude ikyk"
    />
  </div>
  <div class="content">
    <div class="title">
      <p class="texter1">{name}</p>
      <p class="texter2">{title}</p>
    </div>
    <!-- <p class="title">{title}</p> -->
  </div>
</div>
