---
import "./styles/showcase.css";
export interface Props {
  heading?: string;
  text?: string;
  showPicture?: boolean;
  backgroundPic?: string;
}

const {
  heading = "AERIAL ROBOTICS IITK",
  text = "We build drones so you don't have to",
  showPicture = true,
  backgroundPic = "",
} = Astro.props as Props;
---

<section class="showcase">
  <div class="video-container">
    {
      showPicture ? (
        <>
          <img loading="lazy" src={backgroundPic} alt="" />
        </>
      ) : (
        <>
          <video autoplay muted loop>
            <source src={backgroundPic} type="video/mp4" />
          </video>
        </>
      )
    }
    <div class="showcase-text">
      <h1 id="boss_title_index" style=" font-weight:bold; font-family:Poppins; letter-spacing: 0.2rem;">{heading}</h1>
      <div class="typed">
        <center><h1 id="typed"> </h1></center>
      </div>
    </div>
  </div>

<script>
      import Typed from 'typed.js';
    
    var typed = new Typed('#typed', {
      strings: ["Got_a_knack_for_Drones?", " __Your way to Robotics.__"," ^[-_-]^ All Aboard!!!"],
      // stringsElement:$('#typed'),
      typeSpeed: 50,
      // smartBackspace:true,
    });
</script>
</section>