---
import "./styles/twopanelstitlepicture.css";
export interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<div class="row">
  <div class="fixed">
    {title}
  </div>
  <div class="flex-item">
    <slot />
  </div>
</div>
